.container-meeting {
    margin: 30px
}

.modal {
    display: none;
    position: fixed;
    z-index: 3;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 20px;
    overflow: hidden;
}

@-webkit-keyframes animatetop {
    from { top: -300px; opacity: 0 }
    to { top: 0; opacity: 1; }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, 
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #e6e6e6;
    color: black;
    height: 50px;
}

.modal-header h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.modal-body {
    padding: 2px 16px;
}

.wrap-table {
    margin: 30px 20px 30px 20px;
    border-radius: 10px;
    max-height: 400px;
    overflow: scroll;
}

.tableEvents {
    width: 100%;
    border-collapse: collapse;
}

.tableEvents th {
    background-color: #1a252f;
    color: white;
}

.tableEvents th, td {
    padding: 20px 0 20px 0;
}

.tableEvents td {
    text-align: center;
    background-color: #f2f2f2;
}

.trash {
    border: none;
    color: #Be3525;
    cursor: pointer;
}

.trash:active {
    color: #85251a;
}

.edit {
    margin-left: 10px;
    border: none;
    color: #ffc61a;
    cursor: pointer;
}

.edit:active {
    color: #997300;
}

.modal-footer {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 50px;
    padding: 2px 16px;
    background-color: #e6e6e6;
    color: white;
}

.modal-footer button {
    display: inline-block;
    width: 70px;
    height: 30px;
    border: 1px solid transparent;
    padding: 5px 4px 5px 4px;
    margin: 15px 10px 15px 10px;
    border-radius: 0.25rem;
    color: #fff;
    background-color: #0d6efd;
    cursor: pointer;
    font-size: 15px;
}

.modal-footer button:hover {
    background-color: #025ce3;
}

#createEvent {
    width: 150px !important;
}

.center {
    display: flex;
    justify-content: center;
}

#formAddEvent {
    margin: 20px 0 20px 0;
}

#formAddEvent label {
    display: block;
    margin-bottom: 15px;
    margin-top: 20px;
}

#formAddEvent input {
    width: 400px;
    height: 30px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 1rem;
    padding-left: 10px;
}

#formAddEvent textarea {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.selectUsers {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-family: inherit;
}

.loader-spinner {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
